<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#/home">Home</a>
                </li>
                <li><a href="#/menu1">Menu 1</a>
                </li>
                <li><a href="#/providerSearch">Provider Search</a>
                </li>
                <li><a href="#/menu2">Menu 2</a>
                </li>
                <li><a href="#/menu3">Menu 3</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
