<!-- Main Section Part -->
<div class="container-fluid MainSection">
   <div class="row">
      <div class="col-sm-5 col-md-5 col-lg-5 MainSectionImgPart"> 
         <img src="img/MainSecImage.jpg">
       </div>
        <div class="col-sm-7 col-md-7 col-lg-7 MainSectionInfoPart">
           <h3>Welcome to Mississippi Department of Human Services</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est</p>           
        </div>            
    </div>    
</div>
<!-- Sub Section Part -->
<div class="container-fluid SubSection"> 
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 SearchingPart">
          <div class="SearchingSubPart">
           <h3>Providers</h3> 
            <button>Start Searching</button>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 EducationPart">
           <div class="EducationSubPart">
           <h3>Education System</h3>
           <h4>Early Learning</h4>
           <h4>(0-6 Yrs)</h4>
           </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 TeachersPart">
            <div class="TeachersSubPart">
            <h3>Communities</h3>
            <h4>Teachers and Educationalists</h4>
            </div>
        </div>
    </div>
</div>

 