<!-- Main Section Part -->
<div class="container-fluid" ng-controller="starRatingCtrl">
   <div class="row whiteBackground fontSize16">
      <div class="col-sm-12 marginB10"> 
			<div class="col-sm-12 marginB10"> <h3><b> <i class="fa fa-star goldColorCls" aria-hidden="true"></i> Star rating systems used in Provider Systems</h3> </b></div> 
			<div class="col-sm-12 marginB10"> <p>Quality Stars is Mississippi’s tiered quality rating and improvement system. It is administered bythe Early Childhood Institute through a grant from the Mississippi Department of Human Services (Division of Early Childhood Care and Development.) Participation in Quality Stars is voluntary. The interpretation of each star ratings is  explained below</p>	</div> 
			
			<div class="col-sm-12 marginB10" style="margin-bottom:50px"> 
				<button class="col-lg-2 col-md-2 col-sm-4 col-xs-8 pull-right blueColorBtnCls padding4-25"  id="expandAll" ng-click="expandAllFunc();" ng-show="expandToggle">Expand All</button>
				<button class="col-lg-2 col-md-2 col-sm-4 col-xs-8 pull-right blueColorBtnCls padding4-25"  id="collapseAll" ng-click="collapseAllFunc();" ng-show="collapseToggle">Collapse All</button>
			</div> 
      </div> 

	   <div class="col-sm-12"> 
		  <div class="panel-group">
				  <div class="panel custom-panel">
					<div class="panel-heading">
						<h4 class="panel-title custom-panel-header-color">
							<a name="#accordionSec1One"  class="collapsed">
								<b class="col-xs-7 fontSize18" style="">One Star Rating </b>
								<span  class="col-xs-5 text-right">
									<i class="fa fa-star blueColorCls" aria-hidden="true"></i>
								</span>
							</a>
						</h4>
						<div class="clearfix"></div>
					</div>
					<div id="accordionSec1One" class="panel-collapse collapse">
						<div class="panel-body custom-panel-body">
							<div class="col-sm-12 marginB10"><h4>Administrative Policy</h4> </div>
							<p class="col-sm-12 marginB10">Quality Stars is Mississippi’s tiered quality rating and improvement system. It is administered bythe Early Childhood Institute through a grant from the Mississippi Department of Human Services (Division of Early Childhood Care and Development.) Participation in Quality Stars is voluntary. The interpretation of each star ratings is  explained below.</p>
							<a class="col-sm-12 marginB10 text-right">View More</a>
						</div>
					</div>
				</div>
				
				<div class="panel custom-panel">
					<div class="panel-heading">
						<h4 class="panel-title custom-panel-header-color">
							<a name="#accordionSec1Two" class="collapsed">
								<b class="col-xs-7 fontSize18">Two Star Rating</b>
								<span class="col-xs-5 text-right">
									<i class="fa fa-star blueColorCls" aria-hidden="true"></i><i class="fa fa-star blueColorCls" aria-hidden="true"></i>
								</span>
							</a>
						</h4>
						<div class="clearfix"></div>
					</div>
					<div id="accordionSec1Two" class="panel-collapse collapse">
						<div class="panel-body custom-panel-body">
							<div class="col-sm-12 marginB10"><h4>Administrative Policy</h4> </div>
							<p class="col-sm-12 marginB10">Quality Stars is Mississippi’s tiered quality rating and improvement system. It is administered bythe Early Childhood Institute through a grant from the Mississippi Department of Human Services (Division of Early Childhood Care and Development.) Participation in Quality Stars is voluntary. The interpretation of each star ratings is  explained below.</p>
							<a class="col-sm-12 marginB10 text-right">View More</a>
						</div>
					</div>
				</div>
				
				<div class="panel custom-panel">
					<div class="panel-heading">
						<h4 class="panel-title custom-panel-header-color">
							<a name="#accordionSec1Three" class="collapsed">
								<b class="col-xs-7 fontSize18">Three Star Rating</b>
								<span class="col-xs-5 text-right">
									<i class="fa fa-star blueColorCls" aria-hidden="true"></i><i class="fa fa-star blueColorCls" aria-hidden="true"></i><i class="fa fa-star blueColorCls" aria-hidden="true"></i>
								</span>
							</a>
						</h4>
						<div class="clearfix"></div>
					</div>
					<div id="accordionSec1Three" class="panel-collapse collapse">
						<div class="panel-body custom-panel-body">
							<div class="col-sm-12 marginB10"><h4>Administrative Policy</h4> </div>
							<p class="col-sm-12 marginB10">Quality Stars is Mississippi’s tiered quality rating and improvement system. It is administered bythe Early Childhood Institute through a grant from the Mississippi Department of Human Services (Division of Early Childhood Care and Development.) Participation in Quality Stars is voluntary. The interpretation of each star ratings is  explained below.</p>
							<a class="col-sm-12 marginB10 text-right">View More</a>
						</div>
					</div>
				</div>
				
				<div class="panel custom-panel">
					<div class="panel-heading">
						<h4 class="panel-title custom-panel-header-color">
							<a name="#accordionSec1Four"  class="collapsed">
								<b class="col-xs-7 fontSize18">Four Star Rating</b>
								<span  class="col-xs-5 text-right">
									<i class="fa fa-star blueColorCls" aria-hidden="true"></i><i class="fa fa-star blueColorCls" aria-hidden="true"></i><i class="fa fa-star blueColorCls" aria-hidden="true"></i><i class="fa fa-star blueColorCls" aria-hidden="true"></i>
								</span>
							</a>
						</h4>
						<div class="clearfix"></div>
					</div>
					<div id="accordionSec1Four" class="panel-collapse collapse">
						<div class="panel-body custom-panel-body">
							<div class="col-sm-12 marginB10"><h4>Administrative Policy</h4> </div>
							<p class="col-sm-12 marginB10">Quality Stars is Mississippi’s tiered quality rating and improvement system. It is administered bythe Early Childhood Institute through a grant from the Mississippi Department of Human Services (Division of Early Childhood Care and Development.) Participation in Quality Stars is voluntary. The interpretation of each star ratings is  explained below.</p>
							<a class="col-sm-12 marginB10 text-right">View More</a>
						</div>
					</div>
				</div>
				
				<div  class="panel custom-panel">
					<div class="panel-heading">
						<h4 class="panel-title custom-panel-header-color">
							<a name="#accordionSec1Five" class="collapsed">
								<b class="col-xs-7 fontSize18">Five Star Rating</b>
								<span  class="col-xs-5 text-right">
									<i class="fa fa-star blueColorCls" aria-hidden="true"></i><i class="fa fa-star blueColorCls" aria-hidden="true"></i><i class="fa fa-star blueColorCls" aria-hidden="true"></i><i class="fa fa-star blueColorCls" aria-hidden="true"></i><i class="fa fa-star blueColorCls" aria-hidden="true"></i>
								</span>
							</a>
						</h4>
						<div class="clearfix"></div>
					</div>
					<div id="accordionSec1Five" class="panel-collapse collapse">
						<div class="panel-body custom-panel-body">
							<div class="col-sm-12 marginB10"><h4>Administrative Policy</h4> </div>
							<p class="col-sm-12 marginB10">Quality Stars is Mississippi’s tiered quality rating and improvement system. It is administered bythe Early Childhood Institute through a grant from the Mississippi Department of Human Services (Division of Early Childhood Care and Development.) Participation in Quality Stars is voluntary. The interpretation of each star ratings is  explained below</p>
							<a class="col-sm-12 marginB10 text-right">View More</a>
						</div>
					</div>
				</div>
		</div>
	  </div>
    </div>    
</div>
<script>
	$( document ).ready(function() {
		$('.custom-panel a[name^="#"]').click(function (e) {
            $("#" + $(this)[0].name.split('#')[1]).collapse('toggle');
            if ($(this).hasClass('collapsed')) {
                $(this).removeClass('collapsed');
            } else {
                $(this).addClass('collapsed');
            }
        });
	});
</script>
 