<!-- Top Header Bar -->
<div class="container-fluid TopHeader col-xs-12 posFixCls">
   <div class="row">
      <div class="col-sm-10">
			<div class="posFixCls headerCss">
				<img class="col-xs-2" src="img/mdhs_logo.png" style="max-height: 50px;" /><label class="col-md-8 col-xs-0 headerFontSize whiteColorCls marginL15">Department of Human Services</label>
			</div>
      </div> 
      <div class="col-xs-0 col-md-2 HeaderDrpDwnPart">
         <select>
          <option value="volvo">Spanish</option>
          <option value="saab">English</option>
         </select>
      </div>
    </div>    
</div>
