
body
{
    padding: 0;
}
.row
{
    margin-left: 0;
    margin-right: 0;
}
p
{
    line-height: 24px;
}

/* Styles For Home Page */

.TopHeader
{
    background: #4285f4;
    padding: 20px 0px 20px 10px;
}
.HeaderDrpDwnPart
{
    text-align: right;
    padding-right: 35px;
}
.HeaderDrpDwnPart select
{
    border: 1px solid transparent;
    color: #fff;
    background: #4285f4;
}
.HeaderDrpDwnPart select:focus
{
    outline: none;
}
.HeaderDrpDwnPart select option
{
    padding: 5px 10px !important;
}
.MainSection
{
    padding-top: 20px;
}
.MainSectionImgPart img
{
    width: 100%;
    height: 400px;    
}
.MainSectionInfoPart h3
{
    font-size: 26px;
    font-weight: 700;
    line-height: 34px;
}
.MainSectionInfoPart p
{
    font-size: 16px;
    font-weight: 600;
    color: #666666;
}
.SubSection
{
    padding:20px 0px;
}
.SearchingSubPart
{
    background: #4285f4;
    vertical-align: middle;
    text-align: center;
    padding: 30px 0px 50px 0px;
    margin: 10px 5px;
}
.SearchingSubPart h3
{
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
}
.SearchingSubPart button
{
    background: #61bd6d;
    border: 1px solid transparent;
    color: #fff;
    padding: 9px 25px;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    border-radius: 6px;
}
.EducationSubPart
{
    background: #4285f4;
    vertical-align: middle;
    text-align: center;
    padding: 30px 0px 50px 0px;
    margin: 10px 5px;
}
.EducationSubPart h3
{
    color: #fff;
    font-size: 26px;
    font-weight: 600;    
}
.EducationSubPart h4
{
    font-size: 20px;
    font-style: italic;
    color: #fff;
    margin: 5px;
}
.TeachersSubPart
{
    background: #4285f4;
    vertical-align: middle;
    text-align: center;
    padding: 40px 0px 50px 0px;
    margin: 10px 5px;
}
.TeachersSubPart h3
{
    color: #fff;
    font-size: 26px;
    font-weight: 600;    
}
.TeachersSubPart h4
{
    font-size: 20px;
    font-style: italic;
    color: #fff;
    margin: 5px;
    margin-bottom: 20px;
}

/* Styles For Advanced Search Page */

.AdvSchMainHdg
{
    color: #333333;
    font-size: 23px;
    font-weight: 600;
}
.AdvSchHandicapPart
{
    padding: 10px 0px;
}
.AdvSchHandicapPartInfo
{
    /*border-bottom: 1px solid #f2f2f2;*/
    padding-bottom: 5px;
}
.AdvSchHandicapPartInfo h4
{
    color: #666666;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 25px;
}
.AdvSchHandicapPartInfo label
{
    font-weight: normal;
    margin-left: 5px;
}
.AdvSchAgeGroupPartInfo
{
    /*border-bottom: 1px solid #f2f2f2;*/
    padding-bottom: 20px;
}
.AdvSchAgeGroupPartInfo h4
{
    color: #666666;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 25px;
}
.AdvSchAgeGroupPartInfo h4 span
{
    float: right;
    font-size: 14px;
    font-weight: normal;
}
.AdvSchAgeGroupPartInfo h4 span input
{
    margin-right: 5px;
}
.AgeGroupSelectionPart
{
    background: #efefef;
    box-shadow: 0px 0px 2px 0px #999999;
    padding: 15px 10px;
}
.AgeGroupSelectionPart ul
{
    list-style-type: none;
    padding: 0;
}
.AgeGroupSelectionPart ul li
{
    display: inline;
    width: 25%;
    float: left;
    padding: 10px 0px;
}
.AgeGroupSelectionPart ul li p
{
    display: inline;
}
.AgeGroupSelectionPart ul li p input
{
    margin-right: 5px;
}
.AgeGroupSelectionPart ul li p label
{
    font-size: 14px;
    font-weight: normal;
}
.AdvSchSpecialNeedsPart
{
    padding: 15px;
}
.AdvSchSpcNeedsInfo
{
    padding-bottom: 15px;
}
.AdvSchSpcNeedsInfo h4
{
    color: #666666;
    margin-bottom: 15px;
    line-height: 25px;
}

.SpecialNeedsBtnPart
{
    padding-top: 35px;
}
.SpecialNeedsBtnPart button
{
    display: block;
    margin: 10px;
    background: #003A6D;
    padding: 4px 15px;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #cdcdcd;
    width: 55%;
}
.SpecialNeedsSelectedItemsPart p
{
    font-size: 16px;
    font-style: italic;
    color: #666666;
    text-align: center;
}
.AdvSchFooterBtnPart
{
    padding: 15px;
}
.AdvSchFooterCancelBtn
{
    background: #999999;
    border: 1px solid #999999;
    border-radius: 6px;
    padding: 6px 35px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin: 0px 10px;
}
.AdvSchFooterSearchBtn
{
    background: #61BD6D;
    border: 1px solid #61BD6D;
    border-radius: 6px;
    padding: 6px 35px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin: 0px 10px;
}

/* Responsive Styles */

/* Responsive Styles For Home Page */

@media(min-width:360px) and (max-width:640px)
{
    .MainSectionImgPart img
    {
        height: 280px;
    }
}
@media(min-width:320px) and (max-width:568px)
{
    .MainSectionImgPart img
    {
        height: 250px;
    }
}
@media(min-width:768px) and (max-width:960px)
{
    .EducationSubPart
    {
        padding: 20px 0px 32px 0px;
    }
    .TeachersSubPart
    {
        padding: 30px 0px 40px 0px;
    }
    .SearchingSubPart button
    {
        padding: 9px 15px;
    }
}
@media(min-width:768px) and (max-width:1024px)
{    
    .MainSectionImgPart
    {
        width: 100%;
    }
    .MainSectionInfoPart
    {
        width: 100%;
    }
}

/* Responsive Styles For Advanced Search Page */

@media(min-width:360px) and (max-width:640px)
{
    .AgeGroupSelectionPart ul li 
    {
        width: 50%;
        padding: 5px 0px;
    }
    .AgeGroupSelectionPart
    {
        padding: 15px 5px;
    }
    .SpecialNeedsBtnPart
    {
        padding: 15px 0px 15px 65px;
    }
    .AdvSchFooterCancelBtn
    {
        padding: 4px 25px;
    }
    .AdvSchFooterSearchBtn
    {
        padding: 4px 25px;
    }
}