<div class="container-fluid AdvancedSchMainPart">
     <h3 class="AdvSchMainHdg">Advanced Search</h3>
     <div class="container-fluid AdvSchHandicapPart">
        <div class="col-sm-10 col-md-10 col-lg-10 AdvSchHandicapPartInfo">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4>Handicapped Accessibility required?</h4>
                <p><input type="radio"><label>Yes</label></p>
                <p><input type="radio"><label>No</label></p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4>Time of Service Preferred</h4>
                <p><input type="radio"><label>Full Time</label></p>
                <p><input type="radio"><label>Part Time</label></p>
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
        </div>
     </div>
    <!-- Age Group Part -->
     <div class="container-fluid AdvSchAgeGroupPart">
         <div class="col-sm-10 col-md-10 col-lg-10 AdvSchAgeGroupPartInfo">
             <h4>Age Group
                 <span><input type="checkbox">Select All</span>
             </h4>
             <div class="container-fluid AgeGroupSelectionPart">
                 <ul>
                     <li><p><input type="checkbox"><label>0-18 months</label></p></li>
                     <li><p><input type="checkbox"><label>18 months - 3 yrs</label></p></li>
                     <li><p><input type="checkbox"><label>3+ yrs - 5 yrs</label></p></li>
                     <li><p><input type="checkbox"><label>5+ yrs - 8 yrs</label></p></li>
                     <li><p><input type="checkbox"><label>8+ yrs - 11 yrs</label></p></li>
                     <li><p><input type="checkbox"><label>11+ yrs - 15 yrs</label></p></li>
                     <li><p><input type="checkbox"><label>15+ yrs - 18 yrs</label></p></li>
                 </ul>
             </div>
         </div>
         <div class="col-sm-2 col-md-2 col-lg-2">
        </div>
     </div>
    <div class="container-fluid AdvSchSpecialNeedsPart">
        <div class="col-sm-10 col-md-10 col-lg-10 AdvSchSpcNeedsInfo">
            <h4>Special Needs</h4>
            <div class="col-sm-4 col-md-4 col-lg-4 SpecialNeedsListPart">
                <p>List of Supported Special Needs</p>
                <div class="SpecialNeedsListBox">
                <ul>
                    <li>Emotionally Disturbed</li>
                    <li>Emotionally Impaired</li>
                    <li>Hearing Impaired</li>
                    <li>Mentally Impaired</li>
                    <li>Intellectual Disability</li>
                </ul>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 SpecialNeedsBtnPart">
                <button>Add</button>
                <button>Remove</button>
                <button>Reset</button>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 SpecialNeedsSelectedItemsPart">
                <p>Selected Special Needs</p>
                <div class="SpecialNeedsListBox">
                <ul>
                    <li>Hearing Impaired</li>
                    <li>Mentally Impaired</li>
                    <li>Intellectual Disability</li>                    
                </ul>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
        </div>
    </div>
    <div class="container-fluid AdvSchFooterBtnPart">
        <div class="col-sm-9 col-md-9 col-lg-9">
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 AdvSchFooterBtnInfo">
            <button class="AdvSchFooterCancelBtn">Cancel</button>
            <button class="AdvSchFooterSearchBtn">Search</button>
        </div>
    </div>
</div>
 