
<div class="container-fluid">
  <div class="row" ng-controller="SearchController">
  	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">		
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 whiteBackground marginB10 paddingT10">
			<div class="form-group">
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" ng-show="error">
							<strong> Atlease one criteria needs to be selected to perform search</strong>						   
							</select>
						</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form class="form-horizontal formProviderClass">
				
					 <div class="form-group">
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
							<strong> County : </strong>
							<select class="selectpicker border0"id="County"
							ng-model="searchCriteria.countyId" ng-options="c as c.countyName for c in countys track by c.countyNumber" >
								   
							</select>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
							<strong> City : </strong>
							<select class="selectpicker border0" id="city"
							ng-model="searchCriteria.cityId">
								   
							</select>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
							<strong> Quality Star Rating : </strong>
							<select class="selectpicker border0" id="quality"
							ng-model="searchCriteria.ratingId" ng-options="c as c.qualityRatingDescription for c in qualityRatings track by c.qualityRating">
								 
							</select>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
							<strong> Provider Type : </strong>
							<select class="selectpicker border0" id="providerType"
							ng-model="searchCriteria.providerTypeId" ng-options="c as c.providerTypeDescription for c in providerTypes track by c.providerType">  
							</select>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
							<label for="providerNameId" class="col-lg-3 col-md-4 col-sm-6 col-xs-6" style="padding:0;">Provider Name :</label>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
							  <input type="text" class="form-control" id="providerNameId" placeholder="Provider Name" ng-model="searchCriteria.providerName">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-6 col-sm-6 text-right">
						<div class="col-sm-offset-2 col-sm-2">
							<i class="fa fa-adn fontSize25 colorGrayCls" aria-hidden="true"></i>
						</div>
						  <button type="submit" class="col-sm-offset-1 col-sm-3 btn blueColorBtnCls padding4-25" ng-click="reset()">Reset</button>
						  <button type="submit" class="col-sm-offset-1 col-sm-3 btn greenColorBtnCls padding4-25" ng-click="search()">Search</button>
						</div>
					</div>
				</form> 
			</div>
			<div class="clearfix visible-xs-block"></div>			
		</div>
		
	</div>
	
	 
 <div ng-show="tableVisible">
 
  
   <div id="filterByDivId" class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav nav sidebarMinHeight">
				<li class="sidebar-brand heading-background">
					<span>Filter By</span>
				</li>
				<li>
					<a href="#accordionPanel1One">Provider Type</a>
				</li>
				<li>
					<a href="#accordionPanel1Two">Star Rating</a>
				</li>
				<li>
					<a href="#accordionPanel1Three">Distance</a>
				</li>
				<li>
					<a href="#accordionPanel1Four">License Status</a>
				</li>
				<li>
					<a href="#accordionPanel1Five">Online Booking</a>
				</li>
				<li>
					<a href="#accordionPanel1Six">Disabled Access</a>
				</li>
				<li>
					<a href="#accordionPanel1Seven">Website Availability</a>
				</li>
				<li>
					<a href="#accordionPanel1Eight">Picture Availability</a>
				</li>
				<li>
					<a href="#accordionPanel1Eight">Advance Search</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-lg-8 col-md-6 col-sm-12 col-xs-12" ng-show="availableResults">
	 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> <h4 class=""> List of Providers with 5 star rating in Yazoo City <b> ({{ providers.length}} Results)</b> </h4></div>
	 <pagination 
      ng-model="currentPage"
      total-items="providers.length"
      max-size="maxSize"  
      boundary-links="true">
    </pagination>
		<div class="col-xs-12 marginB10 whiteBackground" ng-repeat="provider in filteredProviders track by provider.id">		
			<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
				<div class="text-center">
					<h4 > <b>{{provider.providerName}}</b> </h4>
				</div>
					 
				<div class="text-center">
					<img src="img/person_blank.png" class="imgLogoMaxWd">
				</div>
				<div class="text-center">
					<input-stars max="{{(provider.qualityRating.qualityRating)-1}}" on-star-click="runMyFunction()" ng-model="YourCtrl.property"></input-stars>
					<strong> ({{provider.qualityRating.qualityRatingDescription}})</strong>
				</div>
				<div class="text-center">
					<strong> {{provider.licenseType}} </strong>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 marginB10 paddingT10 filteredDataCssCls">
				<div><strong> Provider Type : </strong><span> {{provider.providerType.providerTypeDescription}} </span></div>
				<div><strong> Phone Number : </strong><span> {{provider.phoneNumber}}</span></div>			
				<div><strong> City : </strong><span> {{provider.physicalCity}} </span></div>
				<div><strong> Zip Code : </strong><span> {{provider.physicalZipCode}} </span></div>			
				<div><strong> Capacity : </strong><span> {{provider.providerCapacity}} </span></div>							
			</div>
			
			<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 text-right">
				<div class="col-lg-offset-6 col-lg-3 col-md-offset-6 col-md-3 col-sm-offset-8 col-sm-2 col-xs-offset-8 col-xs-2 marginB10 paddingT10">
					<a href="#"><span class="glyphicon glyphicon-map-marker fontSize25 colorGrayCls"></span></a>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-2 col-xs-2 marginB10 paddingT10">
					<a href="#"><span class="glyphicon glyphicon-envelope fontSize25 colorGrayCls"></span></a>
				</div>
				<button type="button" class="col-xs-12 marginB10 btn blueColorBtnCls">More Details</button>
				<button type="button" class="col-xs-12 marginB10 btn blueColorBtnCls">Book Appointment</button>
			</div>
		
		</div>
			
		 <pagination 
      ng-model="currentPage"
      total-items="providers.length"
      max-size="maxSize"  
      boundary-links="true">
    </pagination>
	</div>
	<div id="helpDivId" class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
			<div id="accordionPanel1OneHelp" class="instClass rightHelpClass sidebarMinHeight">
				<h3 class="right-brand-heading">Help</h3>
				<div class="text-left" style="padding-left:5px">
					<b><div class="marginB10"><a href="#"> Learn about Star Ratings</a></div>
					<div class="marginB10"><a class="paddingT10" href="#"> How to use Map</a> </div>
					<div class="marginB10"><a class="paddingT10" href="#"> How to Make an Appointment</a> </div></b>

				</div>
			</div>
 </div>
	</div>
	</div>
</div>
    
    
