<!DOCTYPE html>
<html ng-app="searchApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>Mississippi POC</title>

<!-- Bootstrap core CSS -->
<link href="./css/bootstrap.min.css" rel="stylesheet">

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link href="./css/ie10-viewport-bug-workaround.css" rel="stylesheet">


<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="./js/ie-emulation-modes-warning.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><img
					src="./images/mdhs_logo.png" /></a>
			</div>
		</div>
		<div ng-controller="SearchController">
			<form class="form-horizontal">
				<div class="form-group">
					<div class="col-md-8">
						<H1 align="center">Search Child Care Provider</H1>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4" align="right">
						<label for="providername">Provider Name</label>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="providername"
							ng-model="searchCriteria.providerName">
					</div>
				</div>
			</form>
			<form class="form-inline">

				<div class="form-group">
					<div class="col-md-4" align="right">
						<label for="providerType">Provider Type</label>
					</div>
					<div class="col-md-4">
						<select class="form-control" id="providerType"
							ng-model="searchCriteria.providerTypeId">
							<option></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4" align="right">
						<label for="city">City</label>
					</div>
					<div class="col-md-4">
						<select class="form-control" id="city"
							ng-model="searchCriteria.cityId">
							<option></option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-4" align="right">
						<label for="county">County</label>
					</div>
					<div class="col-md-4">
						<select class="form-control" id="County"
							ng-model="searchCriteria.countyId">
							<option></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4" align="right">
						<label for="rating">Quality Star Rating</label>
					</div>
					<div class="col-md-4">
						<select class="form-control" id="quality"
							ng-model="searchCriteria.ratingId">
							<option></option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-offset-5 col-sm-2 text-center">
						<div class="btn-group">
							<input type="button" class="btn btn-default" ng-click="search()"
								value="Search" /> 
						    <input type="button" class="btn btn-default"
								value="Reset" ng-click="reset()"/>

						</div>
					</div>
				</div>
			</form>

			<div class="table-responsive" ng-show="tableVisible">
				<table class="table">
					<thead>
						<th>Provider Name</th>
						<th>Provider Type</th>
						<th>License Type</th>
						<th>City</th>
						<th>County</th>
						<th>Phone</th>
						<th>Zip Code</th>
					</thead>
					<tbody>


						<tr ng-repeat="provider in providers">
						 <td> {{provider.providerName}}</td> 
						<td> {{provider.providerType.providerTypeDescription}}</td>
						<th>{{provider.licenseType}}</th>
						<td> {{provider.physicalCity}}</td>
						<td> {{provider.county.countyName}}</td>
						<td> {{provider.phoneNumber}}</td>
						<td> {{provider.physicalZipCode}}</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="./js/jquery-1.12.3.min.js"></script>
	<script src="./js/bootstrap.3.3.6.min.js"></script>
	<script src="./js/angular.js"></script>
	<script src="./js/main.js"></script>
	<script src="./js/searchcontroller.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="./js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>